<div fxLayout="row" fxLayoutAlign="space-around start">
    <form
      #holidaysForm="ngForm"
      (ngSubmit)="getHolidays(holidaysForm.value)"
      style="margin: 20px 50px; width: 50%"
    >
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>CountryCode</mat-label>
          <input
            type="email"
            matInput
            required
            [(ngModel)]="holidays.countryCode"
            maxlength="2"
            name="countryCode"
            #countryCode="ngModel"
            placeholder="CountryCode"
          />
          <mat-error
            *ngIf="countryCode.errors?.['required'] && (countryCode.dirty || countryCode.touched)"
          >
            Please Enter countryCode
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startpicker"
            required
            [(ngModel)]="holidays.startDate"
            name="startDate"
            #startDate="ngModel"
            placeholder="Start Date"
            (ngModelChange)="dateRangeValidator(startDate, endDate)"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
          <mat-error
            *ngIf="startDate.errors?.['required'] && (startDate.dirty || startDate.touched)"
          >
            Please Enter startDate
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endpicker"
            required
            [(ngModel)]="holidays.endDate"
            name="endDate"
            #endDate="ngModel"
            placeholder="End Date"
            (ngModelChange)="dateRangeValidator(startDate, endDate)"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
          <mat-error
            *ngIf="endDate.errors?.['endDateInvalid'] && (endDate.dirty || endDate.touched)"
          >
            End date must be after start date.
          </mat-error>
          <mat-error
            *ngIf="endDate.errors?.['required'] && (endDate.dirty || endDate.touched)"
          >
            Please Enter EndDate
          </mat-error>
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!holidaysForm.valid"
            type="submit"
            mat-button
          >
            SUBMIT
          </button>
        </div>
      </div>
    </form>
  </div>
  
  <mat-expansion-panel
    *ngIf="getHolidayInfo?.length < 1"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Selected Country : {{ holidays.countryCode }}
      </mat-panel-title>
      <mat-panel-description>
        Invalid CountryCode : {{ holidays.countryCode }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Plese Enter valid CountryCode to display the holiday list</p>
  </mat-expansion-panel>
  