<div
  fxLayout="row"
  fxLayoutAlign="space-around start"
  *ngIf="getHolidayInfo?.length > 0"
>
  <mat-card
    *ngFor="let item of getHolidayInfo"
    [ngClass]="
      item.startDate < getCurrentDate() ? 'post_holidays' : 'holidays_card'
    "
  >
    <h1>{{ item.startDate | date : "dd MMMM" }}</h1>
    <ul *ngFor="let person of item.name; let i = index">
      <li *ngIf="person.language === selectedCountryCode">
        <p>{{ person.text }}</p>
      </li>
    </ul>
    <p>NationWide Holiday : {{ (item.nationwide)?'YES':'NO'}}</p>
  </mat-card>
</div>
